footer {
  padding: get-vw(11px) 0 get-vw(11px) 0;
  gap: get-vw(22px);
  position: relative;
  &::after {
    content: "";
    height: 2px;
    background-color: #d2e7fa20;
    width: 100%;
    @include responsive-size(margin-left, 13px);
    position: absolute;
    @include mobile-screen {
      width: calc(100% - get-fmvw(26px));
    }
  }
  h5 {
    //styleName: footer_small;
    font-size: get-vw(11px);
    font-weight: 300;
    line-height: get-vw(22px);
    letter-spacing: 0.22em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    @include responsive-size(font-size, 11px);
    @include responsive-size(line-height, 22px);
    @include responsive-size(margin-left, 13px);
    @include responsive-size(gap, 11px);
    @include mobile-screen {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      font-weight: 400;
      letter-spacing: 0.11em;
      text-align: left;
    }
    .icon {
      margin: 0 get-vw(11px);
      color: $baby_blue;
    }
  }
}
