.loader-container {
  background: $background;
  z-index: 500;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: get-vw(22px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  @include mobile-screen {
    height: 100dvh;
    flex-direction: row;
  }
  @include responsive-size(padding, 22px);

  .line {
    background-color: $baby_blue;
    height: 2px;
    width: 0;
  }

  .top-line {
    animation: lineExpand 1.33s forwards linear;
    position: absolute;
    top: -20px;
    left: 0;
  }

  .bottom-line {
    animation: lineExpand 1.33s forwards linear;
    position: absolute;
    bottom: -20px;
    left: 0;
    @include mobile-screen {
      animation: lineExpandVertical 1.33s forwards linear;
      width: 1px;
      left: auto;
    }
    @include responsive-size(right, -60px);
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
    padding: get-vw(44px) 0;
    @include mobile-screen {
      flex-direction: row;
      width: auto;
      height: 100%;
    }
  }

  .desktop-logo,
  .mobile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop-screen {
      .letter-desktop {
        animation: showLetterDesktop 0.88s forwards ease-in-out;
        transform: translateX(0px); // Shift each letter by 9px
        animation-delay: calc(0.11s * var(--i)); // Using CSS variable for delay
      }
    }
    .letter-mobile {
      animation: showLetterMobile 0.88s forwards ease-in-out;
      transform: translateY(0px); // Shift each letter by 9px
      animation-delay: calc(0.11s * var(--i)); // Using CSS variable for delay
    }
    @include mobile-screen {
      justify-content: space-between;
    }
  }

  .desktop-logo {
    flex-direction: row;
    width: 100%;
  }

  .mobile-logo {
    flex-direction: column;
    position: relative;
    @include mobile-screen {
      flex-direction: column-reverse;
      height: 100%;
    }
  }

  .letter-desktop {
    opacity: 0;
    animation: showLetterDesktop 0.88s forwards ease-in-out;
    transform: translateX(0);
    width: 100%;
  }
  .letter-mobile {
    opacity: 0;
    animation: showLetterMobile 0.88s forwards ease-in-out;
    transform: translateY(0);
    width: 100%;
  }

  /* Animations */
  @keyframes showLetterDesktop {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes showLetterMobile {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes lineExpand {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes lineExpandReverse {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* Mobile Specific Line */
  .mobile-line {
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 2px;
    height: 0;
    background-color: $baby_blue;
    animation: mobileLineExpand 0.88s forwards ease-in-out;
    animation-delay: 0.1s;
  }
}
@keyframes lineExpandVertical {
  from {
    height: 0;
  }
  to {
    height: 80%;
  }
}
@keyframes mobileLineExpand {
  from {
    height: 0;
  }
  to {
    height: 66%;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: flex;
  }
}
