.travels {
  height: 100%;
  overflow: hidden;
  max-width: 360px;
  margin: 0 auto;
}
.solve-puzzle-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  position: relative;
  gap: 22px;
  padding: 22px;
  .small-text {
    font-family: "Unbounded";
    font-weight: 400;
    letter-spacing: 0.44em;
    font-size: 13px;
    line-height: 22px;
  }
  h1 {
    font-family: "Unbounded";
    font-weight: 300;
    font-size: 29px;
    line-height: 39px;
    letter-spacing: 0;
    position: relative;
    font-size: 29px;
    line-height: 39px;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -2px;
      left: 0;
      background-color: $baby_blue;
    }
  }
  .discover {
    font-family: "Unbounded";
    font-weight: 300;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 28px;
  }
  .puzzle-grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    &.start-game {
      h4,
      h5 {
        animation: fadeOut 0.66s ease-out;
        opacity: 0;
      }
      .puzzle-grid {
        // animation: fadeOut 0.66s ease-out;
        // opacity: 0;
      }
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 320px;
      height: 320px;
    }
    .handstand {
      position: absolute;
      top: 0;
      width: 18px;
      height: 64px;
      top: 55px;
      z-index: 2;
      left: 155px;
    }
  }
  .arrow {
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    transform: rotate(90deg);
    &.left {
      transform: rotate(-90deg);
    }
  }
  .slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 33px;

    .slider-indicator {
      width: 176px;
      height: 11px;
      border: 1px solid $baby_blue;
      border-radius: 22px;
    }
  }
  .start-game-button {
    font-family: "Unbounded";
    color: $uido-active;
    font-weight: 500;
    letter-spacing: 0.44em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    text-transform: uppercase;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border: 1px solid $uido-active;
    border-bottom: none;
    cursor: pointer;
    padding: 11px 22px;
    font-size: 17px;
    line-height: 21px;
    max-width: 316px;
    background: transparent;
    outline: none;
    transform: translateX(-50%);
  }
  h4 {
    font-family: "Unbounded";
    font-weight: 500;
    letter-spacing: 0px;
    display: flex;
    flex-direction: row;
    color: $baby_blue;
    align-items: center;
    justify-content: center;
    left: 20px;
    gap: 8px;
    top: 36px;
    position: absolute;
    span {
      color: $uido-active;
    }
    font-size: 29px;
    line-height: 39px;
  }
  h5 {
    font-family: "Unbounded";
    font-weight: 600;
    letter-spacing: 0.44em;
    text-transform: uppercase;
    text-align: right;
    color: $uido-active;
    span {
      color: $baby_blue;
    }
    font-size: 13px;
    line-height: 19px;
    max-width: 145px;
    right: 22px;
    bottom: 32px;
    position: absolute;
  }
}
.puzzle-game-container {
  animation: fadeIn 0.33s ease-out;
  .tile {
    background-color: $bg_primary;
    border-radius: 22px;
    border: 2px solid $elegant_green;

    &.bg_green {
      background-color: $elegant_green;
    }
  }
}
.puzzle-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 22px;

  .puzzle-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 11px;
  }

  .tile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease;

    &.filled {
    }

    &.empty {
      border: 2px solid $uido-active;
      cursor: default;
    }

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .moves-counter {
    margin: 1rem 0;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  button {
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #218838;
    }
  }
}
.travels {
  .solved-puzzle {
    gap: 10px;
    h1 {
      font-family: "Unbounded";
      font-weight: 500;
      letter-spacing: 0.03em;
      display: flex;
      flex-direction: row;

      font-size: 44px;
      margin-top: 12px;
      line-height: 39px;
      svg {
        width: 35px;
        height: 36px;
        margin-left: 22px;
        background: $baby_blue;
        path {
          fill: #181818;
        }
      }
      &:after {
        content: none;
      }
    }
    h2 {
      font-family: "Unbounded";
      font-weight: 300;
      letter-spacing: 0;
      font-size: 29px;
      line-height: 39px;
      margin-bottom: 12px;
    }
    .discover_more {
      margin-top: 12px;
    }
    h6 {
      font-family: "Unbounded";
      font-weight: 400;
      letter-spacing: 0.44em;
      text-align: center;
      font-size: 13px;
      line-height: 22px;
      position: absolute;
      bottom: 65px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
    .meet-seredesi-button {
      background-color: $baby_blue;
      border: none;
      color: #181818;
      position: relative;
      padding: 11px 12px;
    }
    .travel_background {
      position: absolute;
      bottom: 0;
      z-index: -1;
      left: -260px;
      top: 346px;
      transition: all 0.33s ease-in-out;
      &.expanded {
        @include mobile-screen {
          top: 18.8vh;
          z-index: 0;
          .human_fill,
          .houman_stroke {
            animation: moveUpDown 0.66s ease-out forwards; /* Trigger the character animation */
          }
        }
      }
    }
  }
}
.button-and-content {
  position: absolute;
  bottom: 0;
  transition: all 0.33s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

.start-game-button {
  transition: transform 0.33s ease-in-out;
}

.button-and-content.expanded .start-game-button {
  transform: translateX(-50%); // Adjust this value as needed
}

.hidden-content {
  max-height: 0;
  overflow: hidden;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.33s ease-in-out;
  max-width: 316px;
  background: linear-gradient(
      0deg,
      rgba(24, 24, 24, 0.44),
      rgba(24, 24, 24, 0.44)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border: 1px solid $uido-active;
  p.small_title {
    font-family: "Unbounded";
    font-weight: 400;
    letter-spacing: 0.11em;
    font-size: 11px;
    margin: 10px 0 0;
    line-height: 17px;
  }
  .big-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: "Unbounded";
    font-weight: 300;
    letter-spacing: 0;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    text-transform: initial;
    span {
      font-weight: 500;
    }
    svg {
      margin-right: 11px;
    }
  }
  .social-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hidden-section {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin: 10px 0;

    align-items: flex-start;
    justify-content: flex-start;
  }
}
.travels .button-and-content.expanded {
  .meet-seredesi-button {
    border: 1px solid $uido-active;
    color: #181818;
    background-color: $uido-active;
  }
  .hidden-content.visible {
    z-index: 2;

    max-height: 500px; // Adjust based on content size
    max-width: 316px;
    padding: 11px 22px;
    opacity: 1;
  }
}
.travels {
  .background {
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  25% {
    // transform: translateY(100%); /* Move down by the height of the element */
  }
  50% {
    transform: scaleY(0.87); /* Decrease height by about 13% */
  }
  75% {
    transform: translateY(0%); /* Return to original position */
  }
}

.travel_background.expanded {
  animation: bounceOut 0.33s ease-out; /* Apply the bounce animation when expanded */
}
.human_fill {
  fill: $uido-active;
  stroke: $uido-active;
}
.human_stroke {
  stroke: $uido-active;
}

@keyframes bounceOut {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  50% {
    transform: scale(1.13); /* Enlarge to 113% */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}
.instagram-sidebar-container {
  position: fixed;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
  z-index: 1000;
}

.sidebar-icon {
  cursor: pointer;
  transition: all 0.33s ease;
  width: 48px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $elegant_green;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border: 1px solid $uido-active;
  border-right: 0;
  &.open {
    transform: translateX(-266px);
  }
}

.sidebar-content {
  position: absolute;
  right: 0;
  top: 0;
  background-color: $bg_primary;
  border: 1px solid $uido-active;
  width: 266px;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.33s ease;
}

.sidebar-content.visible {
  transform: translateX(0);
}

.sidebar-content.hidden {
  transform: translateX(100%);
}
.social-section {
  gap: 10px;
  display: flex;
  flex-direction: column;
  p.small_title {
    font-family: "Unbounded";
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.11em;
  }
  .big-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: $baby_blue;
    gap: 11px;

    span {
      text-transform: initial;
      display: block;
      position: relative;
      font-family: "Unbounded";
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
    }
  }
}

.small_title {
  font-weight: bold;
}

.instagram-icon {
  width: 22px;
  height: 22px;
}
